<div class="row mb-4 category-{{ mini-project.category | downcase | replace: ' ', '-' }}">
    <div class="col-sm-4">
        <img width="100%" height="auto" class="w-full rounded-lg" src="{{ mini-project.gif }}">
    </div>
    <div class="col-sm-8">
        {% if mini-project.system-name %} <b><i>{{ mini-project.system-name }}</i>:</b> {% endif %}
        <b>{{ mini-project.title }}</b>
        <u><b><i>Категория</i></b>:</u> {{ mini-project.category }}
        {% if mini-project.prize %} <u><b><i>Prize</i></b>:</u> {{ mini-project.prize }} {% endif %}
    </div>
</div>
